.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 90vh;
  background-size: cover;
  padding: 7%;
}
.home-header {
  color: white;
}
.home-description {
  color: white;
}
.homeBtn {
  color: #ffffff;
  background-color: #6366f1;
  border-radius: 9px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  padding: 8px;
  border: none;
  width: 128px;
}
